<%= render 'modals/quick' %>
<div class="container">
  <!--Projects section v.2-->
<section class="section">

    <!--Section heading-->
    <!-- <h1 class="section-heading">Welcome</h1> -->

    <!-- Coming Soon -->
<div class="coming-soon text-center text-white">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>We're Coming Soon</h2>
                    <p>We are working very hard on the new version of our site. It will bring a lot of new features and enhancements. Stay tuned!</p>
                    <div class="timer">
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <br>seconds
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br><br>

<!-- Content -->

    <section id="counter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="countdown"></div>
				</div>
			</div>
		</div>
	</section>
    <!--Section description-->
    <p class="section-description">I have provided physical therapy services for a 100-bed, specialized acute-care hospital. Assessed patients' rehabilitative needs, jointly developed patient plan of care and treatment goals and conducted physician-prescribed PT programs for medically complex patients (children through geriatric). Trained and supervised two PT assistants in all physical-rehabilitation-therapy treatments.</p>

    <!--First row-->
    <div class="row text-center">

        <!--First column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/4ykElSXlReU" frameborder="0" allowfullscreen></iframe>
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <h3 class="white-text">Exercise 1</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                <a class="btn btn-ins" data-toggle="modal" data-target="#quick-look-ex"><i class="fa fa-eye left"></i> See more</a>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/4ykElSXlReU" frameborder="0" allowfullscreen></iframe>
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <h3 class="white-text">Exercise 2</h3>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus.</p>
                <a class="btn btn-ins" data-toggle="modal" data-target="#quick-look-ex"><i class="fa fa-eye left"></i> See more</a>
            </div>

        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/4ykElSXlReU" frameborder="0" allowfullscreen></iframe>
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <h3 class="white-text">Exercise 3</h3>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                <a class="btn btn-ins" data-toggle="modal" data-target="#quick-look-ex"><i class="fa fa-eye left"></i> See more</a>
            </div>

        </div>
        <!--/Third column-->
    </div>
    <!--/First row-->
</section>
<!--/Projects section v.2-->

<!--Section: Testimonials v.4-->
<section class="section">

    <!--Section heading-->
    <h1 class="section-heading">Testimonials</h1>

    <div class="row">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active mdb-color"></li>
                <li data-target="#multi-item-example" data-slide-to="1" class="mdb-color"></li>
                <li data-target="#multi-item-example" data-slide-to="2" class="mdb-color"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    <!--First column-->
                    <div class="col-md-4">

                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Anna Deynah</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>John Doe</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Abbey Clark</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Third column-->

                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <!--First column-->
                    <div class="col-md-4">

                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Blake Dabney</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Andrea Clay</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Cami Gosse</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Third column-->

                </div>
                <!--/.Second slide-->

                <!--Third slide-->
                <div class="carousel-item">
                    <!--First column-->
                    <div class="col-md-4">

                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Bobby Haley</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Elisa Janson</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Robert Jacobs</h4>
                            <p class="white-text"><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--/Third column-->

                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</section>
<!--/Section: Testimonials v.4-->

</div>
