<% content_for :title do %>About<% end %>
<br><br><br><br>
<div class="container-fluid">
  <!--Navigation & Intro-->
  	<header>

		  


		  <!--Card-->
<div class="card card-cascade wider reverse my-4">

		<!--Card image-->
		<div class="view overlay hm-white-slight">
			<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid">
			<a href="#!">
				<div class="mask"></div>
			</a>
		</div>
		<!--/Card image-->
	
		<!--Card content-->
		<div class="card-body text-center">
			<!--Title-->
			<h4 class="card-title"><strong>Nancy Destin</strong></h4>

			<p class="lead">I'm a dedicated RPT offering 17 years of acute-care, sub-acute care, outpatient, SNF, home health care. A history of "exemplary" ratings on performance reviews; trilingual fluency (Spanish, Creole); and solid credentials that include dual-state licensure (FL,Ma), BLS/CPR, Autism Navigator certifications. Background includes work with pediatric, adolescent, adult and geriatric patients.</p>
			<p><span>Well-versed in a broad range of PT programs, treatments and modalities restoring function and mitigating disability for diseased and injured patients. Excellent interpersonal/communication skills and proficiency in patient assessment, time management and therapy-program design/execution. Enthusiastic team player, deeply committed to delivering quality care and achieving superior patient outcomes as a member of a multidisciplinary case-management team.</span></p>
  			<p>I have provided physical therapy services for a 100-bed, specialized acute-care hospital. Assessed patients' rehabilitative needs, jointly developed patient plan of care and treatment goals and conducted physician-prescribed PT programs for medically complex patients (children through geriatric). Trained and supervised two PT assistants in all physical-rehabilitation-therapy treatments. </p>
	

			<ul text-center>
				<li class="fb-like" data-href="https://generationsrs.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></li>
			</ul>
	
		</div>
		<!--/.Card content-->
	
	</div>
	<!--/.Card-->

  	</header>
  	<!--/Navigation & Intro-->


  	<!-- Scrollspy -->
  	<div class="dotted-scrollspy hidden-sm-down">
  		<ul class="nav smooth-scroll flex-column">
  			<li class="nav-item"><a class="nav-link" href="#home"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#skills"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#works"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>
  		</ul>
  	</div>

</div>

	<script>
		// initialize scrollspy
		$('body').scrollspy({
			target: '.dotted-scrollspy'
		});

		// initialize lightbox
		$(function () {
			$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
		});

		$('#collapseEx a').click(function(e) {
			$('#collapseEx').collapse('hide');
		});

		/* WOW.js init */
		new WOW().init();

	</script>
