<% content_for :title do %>About<% end %>
<br><br><br><br><br>
<div class="container white-text wow bounceInDown">
  <!--Author box-->
  <div class="author-box" id="authorbox-about">
      <!--Name-->
      <h1 class="h3-responsive text-center wow rotateIn" data-wow-delay="2s">About Me</h1>
      <hr>
      <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
              <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/11209393_10203996671543480_5553593891999476637_n.jpg?oh=8a3ed05bfc502480c6accd53702eb436&oe=5927D95C" class="img-responsive rounded-circle z-depth-2 wow zoomInUp" data-wow-delay="1s">
          </div>
          <!--Author Data-->
          <div class=" col-12 col-sm-10">
              <h4><strong class="wow lightSpeedIn" data-wow-delay="2s">Nancy Destin</strong></h4>
              <div class="personal-sm">
                  <a class="email-ic wow lightSpeedIn" data-wow-delay="2s"><i class="fa fa-home"> </i></a>
                  <a class="fb-ic wow lightSpeedIn" data-wow-delay="2.5s"><i class="fa fa-facebook"> </i></a>
                  <a class="tw-ic wow lightSpeedIn" data-wow-delay="3s"><i class="fa fa-twitter"> </i></a>
                  <a class="gplus-ic wow lightSpeedIn" data-wow-delay="3.5s"><i class="fa fa-google-plus"> </i></a>
                  <a class="li-ic wow lightSpeedIn" data-wow-delay="4s"><i class="fa fa-linkedin"> </i></a>
                  <a class="email-ic wow lightSpeedIn" data-wow-delay="4.5s"><i class="fa fa-envelope-o"> </i></a>
              </div>
              <p class="wow lightSpeedIn" data-wow-delay="2s">
                Dedicated RPT offering 17 years of acute-care, sub-acute care, outpatient, SNF, home health care. A history of "exemplary" ratings on performance reviews; trilingual fluency (Spanish, Creole); and solid credentials that include dual-state licensure (FL,Ma), BLS/CPR, Autism Navigator certifications. Background includes work with pediatric, adolescent, adult and geriatric patients.
              </p><hr>
              <p class="hidden-md-down wow lightSpeedIn" data-wow-delay="2s">
                Well-versed in a broad range of PT programs, treatments and modalities restoring function and mitigating disability for diseased and injured patients. Excellent interpersonal/communication skills and proficiency in patient assessment, time management and therapy-program design/execution. Enthusiastic team player, deeply committed to delivering quality care and achieving superior patient outcomes as a member of a multidisciplinary case-management team.
              </p><hr>
              <p class="hidden-md-down wow lightSpeedIn" data-wow-delay="2s">
                I have provided physical therapy services for a 100-bed, specialized acute-care hospital. Assessed patients' rehabilitative needs, jointly developed patient plan of care and treatment goals and conducted physician-prescribed PT programs for medically complex patients (children through geriatric). Trained and supervised two PT assistants in all physical-rehabilitation-therapy treatments.
              </p><hr>
              <h5 class="wow lightSpeedIn" data-wow-delay="2s">Skills</h5>
                <ol class="wow lightSpeedIn" data-wow-delay="2s">
                <li>PT Treatments/Techniques</li>
                <li>Patient Assessment</li>
                <li>Diagnostics/Prognostics</li>
                <li>Case Management</li>
                <li>Patient Relations/Communications</li>
                <li>Quality and Consistency of Care</li>
                <li>Team Training/Supervision</li>
              </ol><hr>
              <h5 class="wow lightSpeedIn" data-wow-delay="2s">Additional Credentials:</h5>
              <ol class="wow lightSpeedIn" data-wow-delay="2s">
                <li>Licensed RPT, State of Florida</li>
                <li>Licensed RPT, State of Massachusetts</li>
                <li>BLS Certified</li>
                <li>CPR Certified</li>
              </ol>
          </div>
      </div>
  </div>
  <!--/.Author box-->
</div>
