<% content_for :title do %>About<% end %>
<br>
<div class="container">
  <!--Author box-->
  <div class="author-box" id="authorbox-about">
      <!--Name-->
      <h3 class="h3-responsive text-center">About Me</h3>
      <hr>
      <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
              <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/11209393_10203996671543480_5553593891999476637_n.jpg?oh=8a3ed05bfc502480c6accd53702eb436&oe=5927D95C" class="img-responsive rounded-circle z-depth-2">
          </div>
          <!--Author Data-->
          <div class=" col-12 col-sm-10">
              <h4><strong>Nancy Destin</strong></h4>
              <div class="personal-sm">
                  <a class="email-ic"><i class="fa fa-home"> </i></a>
                  <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                  <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                  <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                  <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                  <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
              </div>
              <p>
                Dedicated RPT offering 11 years of acute-care experience; a history of "exemplary" ratings on performance reviews; bilingual fluency (Spanish); and solid credentials that include dual-state licensure (NY/NJ), BLS/lymphedema/CPR certifications and a master's degree in physical therapy from an AMA-/APTA-approved program. Background includes work with pediatric, adolescent, adult and geriatric patients.
              </p>
              <p class="hidden-md-down">
                Well-versed in a broad range of PT programs, treatments and modalities restoring function and mitigating disability for diseased and injured patients. Excellent interpersonal/communication skills and proficiency in patient assessment, time management and therapy-program design/execution. Enthusiastic team player, deeply committed to delivering quality care and achieving superior patient outcomes as a member of a multidisciplinary case-management team.
              </p>
              <h5>Skills</h5>
              <ul>
                <li>PT Treatments/Techniques</li>
                <li>Patient Assessment</li>
                <li>Diagnostics/Prognostics</li>
                <li>Case Management</li>
                <li>Patient Relations/Communications</li>
                <li>Quality and Consistency of Care</li>
                <li>Quality and Consistency of Care</li>
                <li>Team Training/Supervision</li>
              </ul>
              <h5>Additional Credentials:</h5>
              <ol>
                <li>Licensed RPT, State of New York</li>
                <li>Licensed RPT, State of New Jersey</li>
                <li>BLS Certified</li>
                <li>Lymphedema Certified</li>
                <li>CPR Certified</li>
              </ol>
          </div>
      </div>
  </div>
  <!--/.Author box-->
</div>
