<% content_for :title do %>About<% end %>
<br><br><br><br>
<div class="container-fluid">
  <!--Navigation & Intro-->
  	<header>
  		<!--Mask-->
  		<div class="view intro hm-black-light" id="home" style="background-image:url('https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true')">
  			<div class="full-bg-img flex-center">
  				<div class="container">

  					<div class="white-text text-center">
  						<h2 class="intro-heading wow fadeIn">I am Nancy Destin</h2>
  						<h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">and I'm a physical therapist</h3>
  						<li class="smooth-scroll wow fadeIn" data-wow-delay="0.4s"><a href="#about" class="btn btn-floating btn-large btn-primary wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
  					</div>

  				</div>
  			</div>
  		</div>
  		<!--/.Mask-->

  	</header>
  	<!--/Navigation & Intro-->


  		<!-- First container -->
  		<div class="container">

  			<!-- Section About -->
  			<section id="about" class="section pt-3 pb-4">

  				<!-- Section title -->
  				<h1 class="section-heading wow fadeIn text-success">About me</h1>

  				<!-- First row -->
  				<div class="row wow fadeIn" data-wow-delay="0.2s">

  					<!-- Place for photo -->
  					<div class="col-lg-4 mb-2">
  						<img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/17362774_10208465769028124_1599881355786113622_n.jpg?oh=6c610a521dba3e29fd327cc6cf9c690f&oe=598D250B" class="img-fluid rounded-circle z-depth-2" alt="My photo">
  					</div>

  					<!-- Text content -->
  					<div class="col-lg-8">
  						<p class="lead">I'm a dedicated RPT offering 17 years of acute-care, sub-acute care, outpatient, SNF, home health care. A history of "exemplary" ratings on performance reviews; trilingual fluency (Spanish, Creole); and solid credentials that include dual-state licensure (FL,Ma), BLS/CPR, Autism Navigator certifications. Background includes work with pediatric, adolescent, adult and geriatric patients.</p>
  						<p><span>Well-versed in a broad range of PT programs, treatments and modalities restoring function and mitigating disability for diseased and injured patients. Excellent interpersonal/communication skills and proficiency in patient assessment, time management and therapy-program design/execution. Enthusiastic team player, deeply committed to delivering quality care and achieving superior patient outcomes as a member of a multidisciplinary case-management team.</span></p>
  						<p>

I have provided physical therapy services for a 100-bed, specialized acute-care hospital. Assessed patients' rehabilitative needs, jointly developed patient plan of care and treatment goals and conducted physician-prescribed PT programs for medically complex patients (children through geriatric). Trained and supervised two PT assistants in all physical-rehabilitation-therapy treatments. </p>
  					</div>

  				</div><br>
  				<!-- /.First row -->


  			</section>
  			<!-- /.Section About -->

  		</div>
  		<!-- /.First container -->

  		<!-- Second container -->
  		<div class="container">

  			<!-- Second section -->
  			<section id="skills" class="section feature-box pt-3 mb-4">

          <div class="col-md-12 col-lg-12 mb-2 text-center">

            <h1 class="section-heading wow fadeIn text-center text-success">Credentials</h1>
            <ul class="list-group z-depth-0 skills-table text-center">
              <li class="text-center">Licensed RPT, State of Florida</li>
              <li class="text-center">Licensed RPT, State of Massachusetts</li>
              <li class="text-center">BLS Certified</li>
              <li class="text-center">CPR Certified</li>
            </ul>
          </div>

  				<h1 class="section-heading wow fadeIn text-success">Skills</h1>


  				<!-- First row -->
  				<div class="row features-big wow fadeIn" data-wow-delay="0.4s">


  					<div class="col-md-12 col-lg-12 mb-2">
  						<ul class="list-group z-depth-0 skills-table">
  							<li class="text-center">PT Treatments/Techniques</li>
  							<li class="text-center">Patient Assessment</li>
  							<li class="text-center">Diagnostics/Prognostics</li>
  							<li class="text-center">Case Management</li>
  							<li class="text-center">Patient Relations/Communications</li>
  							<li class="text-center">Quality and Consistency of Care</li>
  							<li class="text-center">Team Training/Supervision</li>
  						</ul>

  					</div>


  				</div>
  				<!-- /.First row -->

  			</section>
  			<!-- /.Second section -->

  			<!-- Third section -->
  			<section id="works" class="section">

  				<!-- Section title -->
  				<h1 class="section-heading wow fadeIn text-success" data-wow-delay="0.2s">Gallery</h1>

  				<!-- Section description -->

  				<!-- First row -->
  				<div class="row wow fadeIn" data-wow-delay="0.4s">

  					<!-- First column -->
  					<div class="col-md-12">

  						<!-- Lightbox -->
  						<div id="mdb-lightbox-ui"></div>

  						<div class="mdb-lightbox">

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(49).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid">
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(50).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(51).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(52).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(53).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(54).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(55).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(56).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>

  							<figure class="col-md-4">
  								<a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(57).jpg" data-size="1600x1067">
  									<img src="https://github.com/cwilliams3579/Screenshots/blob/master/nancy.jpg?raw=true" class="img-fluid" />
  								</a>
  							</figure>


  						</div>

  						<!-- /.Lightbox -->

  					</div>
  					<!-- /.First column -->

  				</div>
  				<!-- /.First row -->

  			</section>
  			<!-- /.Third section -->

  			<hr class="between-sections">

  			<!-- Contact -->
  			<section id="contact" class="section mb-4">

  				<!--Section heading-->
  				<h1 class="section-heading wow fadeIn">Contact me</h1>
  				<!--Section sescription-->
  				<!-- <p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->

  				<div class="row wow fadeIn" data-wow-delay="0.4s">

  					<!--First column-->
  					<div class="col-md-8 mb-r">
  						<form>
  							<!--First row-->
  							<div class="row">
  								<!--First column-->
  								<div class="col-md-6">
  									<div class="md-form">
  										<div class="md-form">
  											<input type="text" id="form41" class="form-control">
  											<label for="form41" class="">Your name</label>
  										</div>
  									</div>
  								</div>

  								<!--Second column-->
  								<div class="col-md-6">
  									<div class="md-form">
  										<div class="md-form">
  											<input type="text" id="form52" class="form-control">
  											<label for="form52" class="">Your email</label>
  										</div>
  									</div>
  								</div>
  							</div>
  							<!--/.First row-->

  							<!--Second row-->
  							<div class="row">
  								<div class="col-md-12">
  									<div class="md-form">
  										<input type="text" id="form51" class="form-control">
  										<label for="form51" class="">Subject</label>
  									</div>
  								</div>
  							</div>
  							<!--/Second row-->

  							<!--Third row-->
  							<div class="row">
  								<!--First column-->
  								<div class="col-md-12">

  									<div class="md-form">
  										<textarea type="text" id="form76" class="md-textarea"></textarea>
  										<label for="form76">Your message</label>
  									</div>

  								</div>
  							</div>
  							<!--/.Third row-->
  						</form>

  						<div class="center-on-small-only">
  							<a class="btn green-gradient">Send</a>
  						</div>
  					</div>
  					<!--.First column-->

  					<!--Second column-->
  					<div class="col-md-4">
  						<ul class="contact-icons">
  							<li><i class="fa fa-map-marker fa-2x"></i>
  								<p>10031 Pines BLVD Suite 217</p>
  								<p>Pembroke Pines, FL 33024</p>
  							</li>

  							<li><i class="fa fa-phone fa-2x"></i>
  								<p>+ 1 (954) 305-5001</p>
  							</li>

  							<li><i class="fa fa-envelope fa-2x"></i>
  								<p>MsNancy.PT@gmail.com</p>
  							</li>
  						</ul>
  					</div>
  					<!--.Second column-->

  				</div>
  			</section>
  			<!--/Section: Contact v.2-->

  		</div>
  		<!-- /.Second container -->

  	<!-- Scrollspy -->
  	<div class="dotted-scrollspy hidden-sm-down">
  		<ul class="nav smooth-scroll flex-column">
  			<li class="nav-item"><a class="nav-link" href="#home"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#skills"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#works"><span></span></a></li>
  			<li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>
  		</ul>
  	</div>

</div>

	<script>
		// initialize scrollspy
		$('body').scrollspy({
			target: '.dotted-scrollspy'
		});

		// initialize lightbox
		$(function () {
			$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
		});

		$('#collapseEx a').click(function(e) {
			$('#collapseEx').collapse('hide');
		});

		/* WOW.js init */
		new WOW().init();

	</script>
