<br><br><br><br><br>
<!--Section: Contact v.1-->
<section class="section mb-4">

  <!--Section heading-->
  <h1 class="section-heading green-text">Generations Rehab Services</h1>
  <!--Section sescription-->

  <div class="row">

    <!--First column-->
    <div class="col-md-5">

      <!--Form with header-->
      <div class="card">

        <div class="card-block">
          <!--Header-->
          <div class="form-header green-gradient">
            <h3><i class="fa fa-envelope"></i> Write to us</h3>
          </div>

          <p class="text-center">We'll get back to you shortly.</p>
          <br>

          <!--Body-->
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" class="form-control form-input">
            <label for="form3" class="form-input">Your name</label>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" class="form-control form-input">
            <label for="form2" class="form-input">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-tag prefix"></i>
            <input type="text" class="form-control form-input">
            <label for="form32" class="form-input">Subject</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix"></i>
            <textarea type="text" class="md-textarea form-input"></textarea>
            <label for="form8" class="form-input">Description</label>
          </div>

          <div class="text-center">
            <button class="btn btn-ins btn-block green-gradient">Submit</button>
          </div>
        </div>
      </div>
      <!--/Form with header-->
    </div>
    <!--/First column-->
    <!--Second column-->
    <div class="col-md-7">
      <br class="hidden-md-up"><br class="hidden-md-up">
      <!--Google map-->
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.7326541016705!2d-80.2805884845207!3d26.009573683524785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a61d3994a225%3A0xc1aa4c7001b836fb!2s10031+Pines+Blvd+%23217%2C+Pembroke+Pines%2C+FL+33024!5e0!3m2!1sen!2sus!4v1489792615260" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <br>
      <!--Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating btn-small green-gradient"><i class="fa fa-map-marker"></i></a>
          <p>Excel Rehab Services</p>
          <p>10031 Pines BLVD Suite 217</p>
          <p>Pembroke Pines, FL 33024</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating btn-small green-gradient"><i class="fa fa-phone"></i></a>
          <p>Phone: 954-305-5001</p>
          <p>Fax: 954-391-9736</p>
          <p>Mon - Fri, 8:00am 5:00pm</p>
        </div>

        <div class="col-md-4">
          <a href="mailto:MsNancy.PT@gmail.com?Subject=Hello%20again" target="_top" class="btn-floating btn-small green-gradient"><i class="fa fa-envelope"></i></a>
          <p>Nancy Pierre-Destin, P.T</p>
          <p>MsNancy.PT@gmail.com</p>
        </div>
      </div>
    </div>
    <!--/Second column-->
  </div>
</section>
<!--/Section: Contact v.1-->
