<br><br><br><br><br>
<!--Section: Contact v.1-->
<section class="section mb-4">

    <!--Section heading-->
    <h1 class="section-heading">Nancy Pierre-Destin, P.T</h1>
    <!--Section sescription-->
    <!-- <p class="section-description mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p> -->

    <div class="row">

        <!--First column-->
        <div class="col-md-5">

            <!--Form with header-->
            <div class="card">

                <div class="card-block">
                    <!--Header-->
                    <div class="form-header green-gradient">
                        <h3><i class="fa fa-envelope"></i> Write to us</h3>
                    </div>

                    <p class="text-center">We'll get back to you shortly.</p>
                    <br>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" class="form-control form-input">
                        <label for="form3" class="form-input">Your name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" class="form-control form-input">
                        <label for="form2" class="form-input">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <input type="text" class="form-control form-input">
                        <label for="form32" class="form-input">Subject</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" class="md-textarea form-input"></textarea>
                        <label for="form8" class="form-input">Description</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-ins btn-block green-gradient">Submit</button>
                    </div>

                </div>

            </div>
            <!--/Form with header-->

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7">

            <!--Google map-->
            <div id="map-container" class="z-depth-1-half map-container green-gradient " style="height: 400px"></div>

            <br>
            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn-floating btn-small green-gradient"><i class="fa fa-map-marker"></i></a>
                    <p>Excel Rehab Services</p>
                    <p>10031 Pines BLVD Suite 217</p>
                    <p>Pembroke Pines, FL 33024</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating btn-small green-gradient"><i class="fa fa-phone"></i></a>
                    <p>Phone: 954-305-5001</p>
                    <p>Fax: 954-391-9736</p>
                    <p>Mon - Fri, 8:00am 5:00pm</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating btn-small green-gradient"><i class="fa fa-envelope"></i></a>
                    <p>Email: MsNancy.PT@gmail.com</p>
                </div>
            </div>

        </div>
        <!--/Second column-->

    </div>

</section>
<!--/Section: Contact v.1-->
