<% content_for :title do %>FAQ<% end %>

<br><br><br><br><br><br><br>

<!--Section: Features v.4-->
<section class="section feature-box">

  <!--Section heading-->
  <h1 class="section-heading">Frequently Asked Questions (FAQ)</h1>
  <!--Section sescription-->

  <!--First row-->
  <div class="row features-small">

    <!--First column-->
    <div class="col-md-4">
      <!--First row-->
      <div class="row">
        <div class="col-2">
          <i class="fa fa-flag-checkered indigo-text"></i>
        </div>
        <div class="col-10">
          <h4 class="feature-title">International</h4>
          <p class="grey-text">We provide international clients with evaluations and follow up treatment plans to assist the attainment or regain in development and functional abilities.</p>
          <div style="height:30px"></div>
        </div>
      </div>
      <!--/First row-->

      <!--Second row-->
      <div class="row">
        <div class="col-2">
          <i class="fa fa-flask blue-text"></i>
        </div>
        <div class="col-10">
          <h4 class="feature-title">Experimental</h4>
          <p class="grey-text">We offer a modern edge to home exercise programs and therapeutic strategies.</p>
          <div style="height:30px"></div>
        </div>
      </div>
      <!--/Second row-->

      <!--Third row-->
      <div class="row">
        <div class="col-2">
          <i class="fa fa-glass cyan-text"></i>
        </div>
        <div class="col-10">
          <h4 class="feature-title">Relaxing</h4>
          <p class="grey-text">Massage may be part of your treatment. Rehabilitation specialists are trained in a variety of techniques that may help with your recovery.</p>
          <div style="height:30px"></div>
        </div>
      </div>
      <!--/Third row-->
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-md-4 flex-center">
      <!-- <img src="https://github.com/cwilliams3579/Screenshots/blob/master/faq-img.jpg?raw=true" alt="" class="img-responsive z-depth-0" style="width:100%; height:55vh;"> -->
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-md-4"><br class="hidden-md-up">
      <!--First row-->
      <div class="row">
        <div class="col-2">
          <i class="fa fa-user-md light-blue-text"></i>
        </div>
        <div class="col-10">
          <h4 class="feature-title">Therapists</h4>
          <p class="grey-text">More than half of all Americans are suffering from pain. Many people do not even know that physical therapists are well equipped to not only treat pain but also its source.</p>
          <div style="height:30px"></div>
        </div>
      </div>
      <!--/First row-->

      <!--Second row-->
      <div class="row">
        <div class="col-2">
          <i class="fa fa-graduation-cap indigo-text"></i>
        </div>
        <div class="col-10">
          <h4 class="feature-title">Experts</h4>
          <p class="grey-text">Physical therapists are experts in movement and function, they do not confine their talents to treating people who are ill. A large part of a physical therapist's program is directed at preventing injury, loss of movement, and even surgery. Physical therapists work as consultants in industrial settings to improve the design of the workplace and reduce the risk of workers overusing certain muscles or developing low back pain.</p>
          <div style="height:20px"></div>
        </div>
      </div>
      <!--/Second row-->


    </div>
    <!--/Third column-->
  </div>
  <!--/First row-->

</section>
<!--/Section: Features v.4-->

<br />
<br />

<div class="" id="accordion">
  <!-- <div class="faqHeader">General questions</div> -->
  <div class="card">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle white-text center" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What happens during my first visit?</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="card-block">
        <p>Arrive at your appointment with your paperwork completed (you can download it from our website - see the paperwork or forms link).</p>
        <p>You will provide us with your prescription for physical therapy.</p>
        <p>We will copy your insurance card.</p>
        <p>You will be seen for the initial evaluation by the therapist.</p>
        <p>The therapist will discuss the following:</p>
        <ol>
          <li>Your medical history.</li>
          <li>Your current problems/complaints.</li>
          <li>Pain intensity, what aggravates and eases the problem.</li>
          <li>How this is impacting your daily activities or your functional limitations.</li>
          <li>Your goals with physical therapy.</li>
          <li>Medications, tests, and procedures related to your health.</li>
        </ol>
        <p>The therapist will then perform the objective evaluation which may include some of the following:</p>
        <ol>
          <li>Palpation - touching around the area of the pain/problem. This is done to check for the presence of tenderness, swelling, soft tissue integrity, tissue temperature, inflammation, etc.</li>
          <li>Range of Motion (ROM) - the therapist will move the joint(s) to check for the quality of movement and any restrictions.</li>
          <li>Muscle Testing - the therapist may check for strength and the quality of the muscle contraction. Pain and weakness may be noted. Often the muscle strength is graded. This is also part of a neurological screening.</li>
          <li>Neurological Screening - the therapist may check to see how the nerves are communicating with the muscles, sensing touch, pain, vibration, or temperature. Reflexes may be assessed as well.</li>
          <li>Special Tests - the therapist may perform special tests to confirm/rule out the presence of additional problems.</li>
          <li>Posture Assessment - the positions of joints relative to ideal and each other may be assessed.</li>
        </ol>
        <p>The therapist will then formulate a list of problems you are having, and how to treat those problems. A plan is subsequently developed with the patient's input. This includes how many times you should see the therapist per week, how many weeks you will need therapy, home programs, patient education, short-term/long-term goals, and what is expected after discharge from therapy. This plan is created with input from you, your therapist, and your doctor.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What do i need to bring with me?</a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse">
      <div class="card-block">
        Make sure you bring your physical therapy referral (provided to you by your doctor) and your payment information. If your insurance is covering the cost of physical therapy, bring your insurance card. If you are covered by Workers' Compensation, bring your claim number and your case manager's contact information. If you are covered by auto insurance or an attorney lien, make sure you bring this information.
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How should i dress?</a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse">
      <div class="card-block">
        <p>You should wear loose fitting clothing so you can expose the area that we will be evaluating and treating. For example, if you have a knee problem, it is best to wear shorts. For a shoulder problem, a tank top is a good choice, and for low back problems, wear a loose fitting shirt and pants, again so we can perform a thorough examination.</p>
      </div>
    </div>
  </div>

  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How long will each treatment last?</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="card-block">
        <p>Treatment sessions typically last 30 to 60 minutes per visit.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How many visits will i need?</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="card-block">
        <p>This is highly variable. You may need one visit or you may need months of care. It depends on your diagnosis, the severity of your impairments, your past medical history, etc. You will be re-evaluated on a monthly basis and when you see your doctor, we will provide you with a progress report with our recommendations.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why is Physical therapy a good choice?</a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="card-block">
        <p>More than half of all Americans are suffering from pain. Whether it is a recent episode or chronic, an ABC News/Stanford study revealed that pain in America is a serious problem. However, many do not even know that physical therapists are well equipped to not only treat pain but also its source.</p>
        <p>Physical therapists are experts at treating movement and neuro-musculoskeletal disorders. Pain often accompanies a movement disorder, and physical therapists can help correct the disorder and relieve the pain.</p>
        <br />
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What do Physical therapists do?</a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="card-block">
        <p>You have probably heard of the profession of physical therapy. Maybe you have had a conversation with a friend about how physical therapy helped get rid of his or her back pain, or you might know someone who needed physical therapy after an injury. You might even have been treated by a physical therapist yourself. But have you ever wondered about physical therapists--who they are and what they do? Many people are familiar with physical therapists' work helping patients with orthopedic problems, such as low back pain or knee surgeries, to reduce pain and regain function. Others may be aware of the treatment that physical therapists provide to assist patients recovering from a stroke (e.g., assisting them with recovering use of their limbs and walking again).</p>
        <p>The ability to maintain an upright posture and to move your arms and legs to perform all sorts of tasks and activities is an important component of your health. Most of us can learn to live with the various medical conditions that we may develop, but only if we are able to continue at our jobs, take care of our families, and enjoy important occasions with family and friends. All of these activities require the ability to move without difficulty or pain.</p>
        <p>Because physical therapists are experts in movement and function, they do not confine their talents to treating people who are ill. A large part of a physical therapist's program is directed at preventing injury, loss of movement, and even surgery. Physical therapists work as consultants in industrial settings to improve the design of the workplace and reduce the risk of workers overusing certain muscles or developing low back pain. They also provide services to athletes at all levels to screen for potential problems and institute preventive exercise programs. With the boom in the golf and fitness industries, a number of physical therapists are engaged in consulting with recreational golfers and fitness clubs to develop workouts that are safe and effective, especially for people who already know that they have a problem with their joints or their backs.</p>
        <p>The cornerstones of physical therapy treatment are therapeutic exercise and functional training. In addition to "hands-on" care, physical therapists also educate patients to take care of themselves and to perform certain exercises on their own. Depending on the particular needs of a patient, physical therapists may also "mobilize" a joint (that is, perform certain types of movements at the end of your range of motion) or massage a muscle to promote proper movement and function. Physical therapists also use methods such as ultrasound (which uses high frequency waves to produce heat), hot packs, and ice. Although other kinds of practitioners will offer some of these treatments as "physical therapy," it's important for you to know that physical therapy can only be provided by qualified physical therapists or by physical therapist assistants, who must complete a 2-year education program and who work only under the direction and supervision of physical therapists.</p>
        <p>Most forms of physical therapy treatment are covered by your insurance, but the coverage will vary with each plan. Most states do not legally require patients to see their physicians before seeing a physical therapist. Most of the time all you have to do is ask your doctor if physical therapy is right for you.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Why are people referred to physical therapy?</a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="card-block">
        <p>You and others may be referred to physical therapy because of a movement dysfunction associated with pain. Your difficulty with moving part(s) of your body (like bending at the low back or difficulty sleeping on your shoulder, etc.) very likely results in limitations with your daily activities (e.g., difficulty getting out of a chair, an inability to play sports, or trouble with walking, etc.). Physical therapists treat these movement dysfunctions and their associated pains and restore your body's ability to move in a normal manner.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Why should i choose a private practical physical therapist?</a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="card-block">
        <p>Who is better to see, a PT that works for a physician or a PT that owns a private practice? We leave it up to you to draw your own conclusions but here are some facts. The studies indicate there were more treatments (visits per patient were 39% to 45% higher in physician owned clinics) and the cost was greater for those patients that attended a physician owned physical therapy practice (both gross and net revenue per patient were 30% to 40% higher)1.</p>
        <p>Another study indicated that licensed and non-licensed therapy providers spent less time with each patient in physician owned clinics and physical therapy assistants were substituted for physical therapists.2</p>
        <p>Another older study concluded that "Therapists who had treated patients through direct access were significantly more likely to believe that direct access had benefited them professionally and benefited their patients than were therapists who had not practiced through direct access."3</p>
        <p>We believe that we can provide you with the highest quality of care available and do it in a cost-effective manner.4 You will work closely with your physical therapist and in most instances, your case will be managed by the same physical therapist from the beginning to the end of your experience with us.</p>
      </div>
      <ol>
        <li>Mitchell, J., Scott, E., Physician Ownership of Physical Therapy Services: Effects on Charges, Utilization, Profits, and Service Characteristics, Journal of the American Medical Association, 1992.</li>
        <li>"Joint Ventures Among Health Care Providers in Florida," State of Florida Health Care Cost Containment Board, 1991.</li>
        <li>Domholdt E, Durchholz AG. Direct access use by experienced therapists in states with direct access. Phys Ther. 1992 Aug;72(8):569-74.</li>
        <li>Federal Office of the Inspector General May 1, 2006 - This report calls into question billing processes done by non-physical therapist owned practices.</li>
      </ol>
    </div>
  </div>

  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who pays for the treatment?</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="card-block">
        <p>In most cases, health insurance will cover your treatment. Click on our insurance link above for a summary of insurances we accept and make sure you talk to our receptionist so we can help you clarify your insurance coverage.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Who will see me?</a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="card-block">
        <p>You will be evaluated by one of our licensed and highly trained physical therapists and he/she will also treat you during subsequent visits. Unlike some clinics, where you see someone different each visit, we feel it is very important to develop a one-on-one relationship with you to maintain continuity of care. Since only one physical therapist knows your problems best, he/she is the one that will be working closely with you to speed your recovery.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Are there physical therapy specialists?</a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse">
      <div class="card-block">
        <p><strong>Orthopedic Physical Therapy</strong> - Probably the most common physical therapy specialist is the orthopedic specialist. These specialists care for post-surgical patients, arthritis, tendinitis/tendinosus, fracture rehabilitation, muscle sprains and strains, neck and back pain, hip and knee problems, shoulder, elbow, and wrist conditions. Some are board certified as Orthopedic Certified Specialists (OCS).</p>
        <p><strong>Manual Therapy</strong> - Manual therapy is a broad term that describes a variety of hands-on treatment techniques that are applied to movement dysfunctions. Grade five mobilizations, Mulligan mobilizations with movement, Maitland and Kaltenborn techniques, functional technique, neural mobilization, joint mobilization, craniosacral therapy, strain/counter strain, myofascial release, etc. These are some of the more popular manual therapy techniques. Many manual therapists will take continuing education courses, obtain certifications in manual therapy, and will sit for board certification from the American Physical Therapy Association and other organizations. Most physical therapists incorporate manual therapy techniques as a part of a complete treatment plan.</p>
        <p><strong>Geriatric Physical Therapy</strong> - Some therapists specialize in the rehabilitation of seniors. As the body ages, a variety of challenges arise. We stiffen, we lose strength, our balance skills decline, our bones become brittle (osteoporosis), our endurance decreases, and we take longer to recover from injuries.  Balance and fall prevention are of paramount importance to the therapist who is working with seniors and some clinics are solely dedicated to caring for those with balance problems.  Most physical therapists work with seniors/geriatric patients.  Some have obtained additional education, have passed a board examination, and have earned the Geriatric Certified Specialist (GCS) title.</p>
        <p><strong>Sports Rehabilitation</strong> - Experts in assisting with recovery after injury and surgery.  Many sports specialists help with retraining the athlete utilizing running, throwing, jumping, and sport-specific programs to name a few.  A therapist with the Sports Certified  Specialist (SCS) title has passed a board certified test.</p>
        <p><strong>Fitness and Wellness</strong> - Physical therapists are well trained to help with your fitness needs and wellness programs.  If you need an exercise program, have trouble with your weight, are concerned about osteoporosis, have an issue with diabetes, or you would like to learn how to prevent falls, physical therapists can help.  The previous examples are just a few of the many programs physical therapists offer.</p>
        <p><strong>Hand Therapy</strong> - Most physical therapists are well trained to treat hand and wrist conditions.  Some therapists have taken additional courses and training and have passed a hand therapy certification examination.  These therapists are called Certified Hand Therapists (CHTs).</p>
        <p><strong>Women's Health</strong> - Some therapists specialize in women's issues such as pregnancy problems, pelvic pain, and incontinence.  Special treatment is available for women who have these problems.  Many that suffer from incontinence do so needlessly.  A physical therapist may be able to help.</p>
        <p><strong>Industrial Rehabilitation</strong> - Specialists in industrial rehabilitation help with those that have suffered on-the-job injuries.  Moreover, they will evaluate work tasks, fabricate assistive devices, evaluate your ergonomic situation, and help redesign work flow/tasks to decrease the incidence of injury.  Often, industrial rehabilitation specialists will evaluate your ability to perform certain job tasks with a Functional Capacity Evaluation (FCE).</p>
        <p><strong>Pediatric Physical Therapy</strong> - Pediatric therapists specialize in the rehabilitation of children.  They may assist with kids who suffer from cerebral palsy, developmental disorders, neurological disorders, and/or orthopedic problems. A Pediatric Certified Specialist (PCS) is a board certification that some may obtain from the American Physical Therapy Association.</p>
        <p><strong>Aquatic Physical Therapy</strong> - Aquatic therapy takes advantage of the physical properties of water to assist with the rehabilitative process.  Buoyancy, turbulence, hydrostatic pressure, and thermal properties of water can assist with the rehabilitation of a patient.  Those suffering from chronic pain, osteoarthritis, fibromyalgia, rheumatoid arthritis, lumbar fusion surgery, or with a limited weight-bearing status are just a few of the many different patient populations that can benefit from aquatic therapy. </p>
        <p><strong>Cardiac and Pulmonary Rehabilitation</strong> - A small percentage of physical therapists practice in this discipline.  Those that pass the board certification have the title of Cardiovascular and Pulmonary Certified Specialist (CCS) work with patients who have had heart attacks, bypass surgeries, angioplasty, breathing problems, emphysema, and other heart/lung related conditions.  Physical therapists are well equipped to work with these types of patients because many of them have orthopedic ailments that limit their ability to function.  In other words, a physical therapist can address the heart and lung problems as well as the muscle problems that are concurrently present.</p>
        <p><strong>Neurological, Spinal Cord Injury, and Traumatic Brain Injury Rehab</strong> - A large portion of physical therapists work with patients who suffer from these conditions.  Functional retraining including, walking, wheelchair use, getting in and out of bed or chairs (transfer training), moving in bed (bed mobility), and retraining patients to use their shoulders, arms, and hands are just some of the services these therapists provide to those with neurological involvement.  A certified specialist holds a Neurologic Certified Specialist title (NCS).</p>
        <p><strong>Balance, Dizziness, and Vertigo Rehabilitation</strong> - Many suffer from dizziness or BPPV (benign paroxysmal positional vertigo).  Some clinics specialize in the rehabilitation of patients with vertigo.  Patient education, strengthening, safety awareness, posture and balance exercise, walking exercise, and special techniques that affect sensory and balance centers of the brain and limbs are all important components of a rehabilitation program.</p>
        <p><strong>Amputee Rehabilitation</strong> - many physical therapists specialize in the rehabilitation of amputees.  Caring for the injured limb, functional and walking training, training in the use of assistive devices (crutches, canes, prosthetic limbs, etc.) are all provided by a therapist who specializes in care for amputees.</p>
        <p><strong>Wound Care</strong> - Some therapists specialize in the treatment and care of wounds.  This is accomplished by the removal of unviable tissue (debridement), the application of special dressings and prescription drugs/ointments, and the use of ultrasound, electrical stimulation, and aquatic modalities to promote healing.  Exercise and patient education are also routine components of a wound care program.</p>
        <p><strong>ECS (Clinical Electrophysiologic Certified Specialist)</strong> - A physical therapist who is board certified to perform electroneurophysiology examinations such as nerve conduction studies and electromyography.</p>
        <p><strong>Lymphedema Rehabilitation</strong> - We take it for granted but a special component of the circulatory system, the lymph system, helps filter and drain fluid from our arms and legs.  When this drainage system is damaged, painful swelling can result.  Some therapists specialize in the treatment of lymphedema as it is called.  Special positioning, massage and bandaging techniques are utilized by the lymphedema specialist.</p>
        <p><strong>Osteoporosis Rehabilitation and Prevention</strong> - Some practitioners specialize in the evaluation and treatment of osteoporosis patients.  Working in concert with your medical doctor, the therapist will often design a specialized weight-bearing and resistance training program for those with this silent disease.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Is physical therapy painful?</a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>For many patients, one of the primary objectives is pain relief.  This is frequently accomplished with hands-on techniques, modalities such as ultrasound, electrical stimulation, and/or heat or cold therapy.  Movement often provides pain relief as well.  Your physical therapist will provide you with the appropriate exercises not only for pain relief but to recover range of motion, strength, and endurance.</p>
        <p>In some cases, physical therapy techniques can be painful.  For example, recovering knee range of motion after total knee replacement or shoulder range of motion after shoulder surgery may be painful.  Your physical therapist will utilize a variety of techniques to help maximize your treatment goals.  It is important that you communicate the intensity, frequency, and duration of pain to your therapist.  Without this information, it is difficult for the therapist to adjust your treatment plan.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">What types of treatments will i receive?</a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>There are dozens of different types of treatment interventions.  Here is a list of treatment interventions:</p>

        <p><strong>Active Range of Motion (AROM)</strong> - the patient lifts or moves a body part through range of motion against gravity.  AROM is usually one of the first modalities prescribed for arthritis. </p>

        <p><strong>Active Assistive Range of Motion (AAROM)</strong> - therapist-assisted active range of motion.  This is usually prescribed for gentle stretching or strengthening for a very weak body part.</p>

        <p><strong>Stationary Bicycle</strong> - with or without resistance.  This is usually prescribed for improving the strength and/or range of motion of the back or lower extremities as well as cardiovascular endurance.</p>

        <p><strong>Gait or Walking Training</strong> - the analysis of walking problems by visually examining the interaction of the low back and the joints of the thighs, legs, and feet during the various stages of walking, including initial contact, loading response, mid stance, terminal stance, pre swing, mid swing, and terminal swing.  Many back, thigh, leg, ankle, and foot problems may be caused by or manifest themselves in subtle gait abnormalities.</p>

        <p><strong>Isometrics</strong> - muscle contraction without joint movement.  This is usually prescribed for strengthening without stressing or damaging the joint (e.g., arthritis, or exercises to be performed in a cast, or right after surgery if recommended by the therapist/doctor).</p>

        <p><strong>Isotonics</strong>- muscle(s) contracting through the ROM with resistance.  This is usually prescribed for strengthening. </p>

        <p><strong>Soft Tissue Mobilization</strong> - therapeutic massage of body tissue performed with the hands.  Soft tissue mobilization may be used for muscle relaxation, to decrease swelling, to decrease scar tissue adhesions, and for pain relief.</p>

        <p><strong>Mobilization</strong> - hands-on therapeutic procedures intended to increase soft tissue or joint mobility.  Mobilization is usually prescribed to increase mobility, delaying progressive stiffness, and to relieve pain.  There are many types of mobilization techniques including Maitland, Kaltenborn, Isometric Mobilizations, etc. </p>

        <p><strong>Proprioceptive Neuromuscular Facilitation (PNF)</strong> - a system of manually resisted exercises performed in diagonal patterns that mimic functional movements.  PNF was initially used in developmentally and neurologically impaired patients but now is used in almost every aspect of neuromuscular retraining from athletes in sports facilities to the very weak in hospitals and nursing homes.</p>

        <p><strong>Posture Training</strong> - instruction in the correct biomechanical alignment of the body to reduce undue strain on muscles, joints, ligaments, discs, and other soft tissues.  There is an ideal posture, but most people do not have ideal posture.  Therapists educate patients about the importance of improving posture with daily activities.  Stretching and strengthening exercises may be prescribed to facilitate postural improvement and to prevent further disability and future recurrences of problems. </p>

        <p><strong>Progressive Resistive Exercises (PRE)</strong> - exercises that gradually increase in resistance (weights) and in repetitions.  PRE is usually prescribed for reeducation of muscles and strengthening.  Weights, rubber bands, and body weight can be used as resistance.</p>

        <p><strong>Passive Range of Motion (PROM)</strong> - the patient or therapist moves the body part through a range of motion without the use of the muscles that "actively" move the joint(s).</p>

        <p><strong>Stretching/Flexibility Exercise</strong> - exercise designed to lengthen muscle(s) or soft tissue.  Stretching exercises are usually prescribed to improve the flexibility of muscles that have tightened due to disuse or in compensation to pain, spasm or immobilization. </p>

        <p><strong>Cryotherapy or Cold Therapy</strong> - used to cause vasoconstriction (the blood vessels constrict or decrease their diameter) to reduce the amount of fluid that leaks out  of the capillaries into the tissue spaces (swelling) in response to injury of tissue.  Ice or cold is used most frequently in acute injuries, but also an effective pain reliever for even the most chronic pain. </p>

        <p><strong>Neuromuscular Electrical Stimulation (NMES)</strong> - the application of electrical stimulation to aid in improving strength (e.g., the quadriceps muscle after knee surgery or injury).  NMES is also used to decrease pain and swelling and to relieve muscle spasm.</p>

        <p><strong>Neck Traction</strong> - a gentle longitudinal/axial pull on the neck, either manual or mechanical, intermittent or continuous for relief of neck pain, to decrease muscle spasm and facilitate unloading of the spine.</p>

        <p><strong>Heat</strong> - heat is recommended to decrease chronic pain, relax muscles, and for pain relief.  It should not be used with an acute or "new" injury. </p>

        <p><strong>Iontophoresis</strong> - medications are propelled through the skin by an electrical charge.  This modality works on the physical concept that like charges repel each other, therefore, a positively charged medication will be repelled through the skin to the underlying tissues by the positively charged pad of an iontophoresis machine.  Iontophoresis is usually prescribed for injuries such as shoulder or elbow bursitis.</p>

        <p><strong>Pelvic Traction</strong> - the longitudinal/axial pull on the lumbar spine, either manual or mechanical, intermittent or continuous. Pelvic traction may be helpful for the relief of low back pain and muscle spasm. </p>

        <p><strong>Transcutaneous Electrical Nerve Stimulation (TENS)</strong> - a relatively low voltage applied over painful areas through small self-adhesive electrodes.  The electrical stimulation "disguises" or "overrides" the sensation of pain.  It is a small, portable unit, used in intervals, to control pain and reduce dependence on drugs.  It is usually prescribed for relief of pain.</p>

        <p><strong>Ultrasound</strong> - ultrasound uses a high frequency sound wave emitted from the sound head when electricity is passed through a quartz crystal.  The sound waves cause the vibration of water molecules deep within tissue causing a heating effect.  When the sound waves are pulsed, they cause a vibration of the tissue rather than heating.  The stream of sound waves helps with nutrition exchange at the cellular level and healing.  Studies have shown that ultrasound is helpful for ligament healing and clinically, for carpal tunnel syndrome, and muscle spasm. </p>

        <p><strong>Whirlpool</strong> - immersion of a body part into water with small "agitators" to provide a gentle massaging motion.  A warm whirlpool provides relief from pain and muscle spasm and is often preparatory to stretching or exercise.  Cold whirlpool is used to decrease inflammation and swelling.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">Will i get a massage at physical therapy?</a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>Massage may be part of your treatment.  Rehabilitation specialists are trained in a variety of techniques that may help with your recovery.  Deep tissue techniques may be part of the rehabilitative process.  Massage is used for three reasons typically - to facilitate venous return from a swollen area, to relax a tight muscle, or to relieve pain.  Contrary to common thought, massage does not increase circulation.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">What happens if my problem or pain returns?</a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>Flare ups are not uncommon. If you have a flare up (exacerbation), give us a call. We may suggest you come back to see us, return to your doctor, or simply modify your daily activities or exercise routine.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">Can i go to any physical therapy clinic?</a>
      </h4>
    </div>
    <div id="collapseSeventeen" class="panel-collapse collapse">
      <div class="card-block">
        <p>In most cases, you have the right to choose any physical therapy clinic. Our practice is a provider for many different insurance plans.</p>
        <p>The best thing to do is give us a call and we will attempt to answer all of your questions.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">Can i go directly to my physical therapist?</a>
      </h4>
    </div>
    <div id="collapseEighteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>All fifty states have some form of direct access. In most cases, if you are not making significant improvement within 30 days, the therapist will refer you to/back to your physician.</p>
        <p>Seeing a physical therapist first is safe and could save you hundreds of dollars or even thousands of dollars.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">Can my therapist provide me with a diagnosis?</a>
      </h4>
    </div>
    <div id="collapseNineteen" class="panel-collapse collapse">
      <div class="card-block">
        <p>In most states, physical therapists cannot make a medical diagnosis. This is something that your medical doctor will provide for you.</p>
        <p>Physical therapists are important members of your medical team. At this point in time, physicians are typically the health care providers that will provide you with a medical diagnosis.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">How does the billing process work?</a>
      </h4>
    </div>
    <div id="collapseTwenty" class="panel-collapse collapse">
      <div class="card-block">
        <p>Billing for physical therapy services is similar to what happens at your doctor's office. When you are seen for treatment, the following occurs:</p>
        <ol>
          <li>The physical therapist bills your insurance company, Workers' Comp, or charges you based on Common Procedure Terminology (CPT) codes.</li>
          <li>Those codes are transferred to a billing form that is either mailed or electronically communicated to the payer.</li>
          <li>The payer processes this information and makes payments according to an agreed upon fee schedule.</li>
          <li>An Explanation of Benefits (EOB) is generated and sent to the patient and the physical therapy clinic with a check for payment and a balance due by the patient.</li>
          <li>The patient is expected to make the payment on the balance if any.</li>
        </ol>
        <p>It is important to understand that there are many small steps (beyond the outline provided above) within the process. Exceptions are common to the above example as well. At any time along the way, information may be missing, miscommunicated, or misunderstood. This can delay the payment process. While it is common for the payment process to be completed in 60 days or less, it is not uncommon for the physical therapy clinic to receive payment as long as six months after the treatment date.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">What will i have to do after physical therapy?</a>
      </h4>
    </div>
    <div id="collapseTwentyone" class="panel-collapse collapse">
      <div class="card-block">
        <p>Some patients will need to continue with home exercises. Some may choose to continue with a gym exercise program. Others will complete their rehabilitation and return to normal daily activities. It is important that you communicate your goals to your therapist, so he/she can develop a custom program for you.</p>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo">How do i choose a physical therapy clinic?</a>
      </h4>
    </div>
    <div id="collapseTwentytwo" class="panel-collapse collapse">
      <div class="card-block">
        <p>These are some things you may consider when seeking a physical therapy clinic:</p>
        <ul>
          <li>The therapist should be licensed in the state.</li>
          <li>The first visit should include a thorough medical history and physical examination before any treatment is rendered.</li>
          <li>The patient goals should be discussed in detail during the first visit.</li>
          <li>Care should include a variety of techniques which might include hands-on techniques, soft tissue work, therapeutic exercises and in some cases heat, cold, electrical stimulation or ultrasound.</li>
          <li>Do they have a service that can address your problem?</li>
          <li>Do they take your insurance or are they willing to work with you if they are not a preferred provider?</li>
          <li>They should be conveniently located.  Since sitting and driving often aggravate orthopedic problems, there should be a very good reason for you to drive a long distance for rehabilitation.</li>
          <li>What are the hours of operation?</li>
          <li>Can they provide satisfaction survey results?</li>
          <li>The therapist should provide the treatment.</li>
          <li>Can you briefly interview the therapist before the first visit?</li>
          <li>Ask your family and friends who they would recommend.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header">
      <h4 class="card-header indigo">
        <a class="accordion-toggle collapsed white-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree">What is your privacy policy?</a>
      </h4>
    </div>
    <div id="collapseTwentythree" class="panel-collapse collapse">
      <div class="card-block">
        <p>Our privacy policy can be read here:</p>
        <br/><center><b><a href='/pages/privacy'>Notice of Privacy Practices</a></b></center>
      </div>
    </div>
  </div>
</div>
