<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>

<h1 class="h1-responsive text-success">Thank you for your message!</h1>
<p>We'll get back to you soon.</p>
