<!-- Modal Login -->
<div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="card-header center" id="fa-lock">
                <h2 class="text-center orange-gradient-text">Sign In</h2>
            </div>
            <!--Body-->
            <div class="modal-body">
              <form action="/users/sign_in" method="post" class="form-horizontal">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="md-form">
                    <i class="fa fa-envelope prefix" id="fa-envelope"></i>
                    <input type="text" id="email" name="user[email]" class="form-control form-input">
                    <label for="form2" class="form-input">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix" id="fa-lock"></i>
                    <input type="password" id="password" name="user[password]" class="form-control form-input">
                    <label for="form3" class="form-input">Your password</label>
                </div>
                <div class="md-form center">
                    <input type="submit" value="Sign In" class="btn btn-outline-white btn-block indigo"/>
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options mx-auto">
                    <p>Not a member? <a href="/users/sign_up">Sign Up</a></p>
                    <p>Forgot <a href="/user/password/new">Password?</a></p>
                </div>
                <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close fa-lg text-danger" aria-hidden="true"></i>
                    </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
