
<!-- Modal Register -->
<div class="modal fade modal-ext" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close fa-lg text-danger" aria-hidden="true"></i>
                </button>
                <!-- <h3 class="w-100"> Sign Up</h3> -->
                <div class="flex-row">
                    <a href="#" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn-floating btn-tw btn-small"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <!--Body-->
            <div class="modal-body">
              <form action="/users" method="post" class="form-horizontal">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="first_name" name="user[first_name]" placeholder="First Name" class="form-control">
                    <label for="first_name">Your First Name</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="last_name" name="user[last_name]" placeholder="Last Name" class="form-control">
                    <label for="last_name">Your last Name</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="email" name="user[email]" placeholder="johndoe@gmail.com" class="form-control">
                    <label for="email">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password" name="user[password]" placeholder="Create Password" class="form-control">
                    <label for="password">Your password</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password_confirmation" name="user[password_confirmation]" placeholder="Repeat Password" class="form-control">
                    <label for="password_confirmation" class="form-input">Repeat password</label>
                </div>

                <div class="text-center">
                    <input type="submit" value="Sign Up" class="btn btn-sm btn-block green-gradient"/>
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p class="text-left" style="margin-right:130px;">Already have an account? <a href="/users/sign_in">Sign In</a></p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close fa-lg text-danger" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
