$primary-green: #21403F;
$indigo: #3D466D;


@media (min-width: 768px) {
  .container-small {
    width: 300px;
  }
  .container-large {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 500px;
    margin: 0 auto;
  }
  .container-large {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }
  .container-large {
    width: 1500px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}

.house-reviews {
  .star-rating-house img {
    display: inline !important;
  }
}

.img-fluid {
  width: 100% !important;
  // height: auto;
}

.nav-link, #navbar-brand{
  border: none !important;
}

#navbar-brand {
  font-size: 1.3em !important;
}

.container-about {
  height: 20% !important;
}

.navbar-brand {
  font-size: 1.3em !important;
}

.purple-gradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000000 0%, #650696 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #650696 100%)!important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #650696 100%)!important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#650696',GradientType=1 )!important;
  /* IE6-9 fallback on horizontal gradient */ }

  .md-form {
    .fa {
      //color: $primary-green;
    }
  }


  #counter .countdown {
    text-align: center;
    color: #fff !important;
    font-family: 'Amatica SC', cursive;
    font-size: 3em;
    margin: -15px 0 0;
  }

  /***** Content *****/

  body {
    // background: #f8f8f8 url(../img/pattern.jpg);
    // border-top: 2px solid #e75967;
    font-family: 'Lato', sans-serif;
    // color: #fff !important;
    font-weight: 400;
  }

  strong { font-weight: 700; }

  a, a:hover, a:focus {
    color: green;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
  }

  img { max-width: 100%; }

  ::-moz-selection { background: #e75967; color: #fff; text-shadow: none; }
  ::selection { background: #e75967; color: #fff; text-shadow: none; }


  /***** Header *****/

  .logo h1 span { color: #e75967; }

  .logo a { color: #555; }
  .logo a:hover { color: #e75967; }

  .call-us {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }



  /***** Coming Soon *****/

  .coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  // .inner-bg {
  //     padding: 55px 0 60px 0;
  //     background: url(../img/pattern-3.png);
  //     -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  //     -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  //     box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  // }

  .coming-soon h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
  }

  .coming-soon p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
  }

  .timer {
    margin-top: 40px;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
  }

  .timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper,
  .timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45, 45, 45, 0.7);
    font-size: 18px;
    line-height: 22px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
  }

  .timer .days-wrapper:hover,
  .timer .hours-wrapper:hover,
  .timer .minutes-wrapper:hover,
  .timer .seconds-wrapper:hover {
    background: #21403F;
    text-shadow: none;
  }

  .timer .days,
  .timer .hours,
  .timer .minutes,
  .timer .seconds {
    font-size: 80px;
    line-height: 90px;
  }


  /***** Content *****/

  // .success-message, .error-message {
  // 	display: none;
  // 	margin-top: 20px;
  //     font-size: 18px;
  //     line-height: 22px;
  // }


  // .error-message {
  //     color: #e75967;
  // }

  .social {
    //margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 3px;
    padding-top: 9px;
    // background: #555;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 28px;
    // color: #fff;
    line-height: 28px;
  }

  .social a:hover, .social a:focus { outline: 0; background: $primary-green; }


  /***** Media Queries *****/

  @media (min-width: 768px) and (max-width: 991px) {

    .timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper { width: 140px; height: 140px; margin: 0 7px; }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds { font-size: 60px; line-height: 70px; }

  }

  @media (max-width: 767px) {

    .logo h1 { text-align: center; }
    .call-us { padding-bottom: 7px; text-align: center; }

    .inner-bg { padding: 45px 0 50px 0; }

    .coming-soon h2 { font-size: 36px; }

    .timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper { width: 140px; height: 140px; margin: 7px; }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds { font-size: 60px; line-height: 70px; }

    .subscribe h3 { font-size: 28px; }
    .subscribe form input.subscribe-firstName, .subscribe form input.subscribe-email, .subscribe form button { width: 100%; }
  }

  #authorbox-about {
    background-color: $primary-green !important;
  }

  // .fa-envelope, .fa-lock {
  //   color: #fff;
  // }

  .form-input {
    // color: #fff !important;
  }

  .blue-gradient {
    background: #000000 !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #000000 0%, #062a64 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%, #062a64 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%, #062a64 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#062a64',GradientType=1 ) !important;
    /* IE6-9 fallback on horizontal gradient */ }

    // #star-rating, .star-rating {
    //   display: inline-flex;
    // }

    // .green-gradient {
    //
    // background: rgba(98,125,77,1);
    // background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(33,64,63,1) 100%) !important;
    // background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(33,64,63,1) 100%) !important;
    // background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(33,64,63,1) 100%) !important;
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#21403f', GradientType=1 ) !important;
    // }

    .green-gradient {
      background: rgba(33,64,63,1);
      background: -moz-linear-gradient(left, rgba(33,64,63,1) 0%, rgba(10,18,20,1) 100%) !important;
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,64,63,1)), color-stop(100%, rgba(10,18,20,1))) !important;
      background: -webkit-linear-gradient(left, rgba(33,64,63,1) 0%, rgba(10,18,20,1) 100%) !important;
      background: -o-linear-gradient(left, rgba(33,64,63,1) 0%, rgba(10,18,20,1) 100%);
      background: -ms-linear-gradient(left, rgba(33,64,63,1) 0%, rgba(10,18,20,1) 100%);
      background: linear-gradient(to right, rgba(33,64,63,1) 0%, rgba(10,18,20,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21403f', endColorstr='#0a1214', GradientType=1 );
    }

    .map-container {

    }

    .map-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
    /*Back to top button */
    /***********************************************************************************************/
    .go-top {
      position: fixed;
      bottom: 2em;
      right: 2em;
      text-decoration: none;
      color: white;
      // background-color: rgba(0, 0, 0, 0.3);
      font-size: 12px;
      padding: 1em;
      display: none;
    }

    .go-top:hover {
      // background-color: rgba(0, 0, 0, 0.6);
    }

    .fa-thumbs-up, .fa-thumbs-down {
      color: #3B5998 !important;
    }

    .logo-wrapper {
      #icon {
        width: 100% !important;
        height:100%;
        padding: 20px;
      }
    }

    .side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height:100% !important;
}

    #icon {
      text-shadow: rgb(26, 51, 52) 0px 0px 0px, rgb(26, 52, 52) 1px 1px 0px, rgb(27, 52, 53) 2px 2px 0px, rgb(27, 53, 54) 3px 3px 0px, rgb(27, 54, 54) 4px 4px 0px, rgb(27, 54, 55) 5px 5px 0px, rgb(28, 55, 56) 6px 6px 0px, rgb(28, 55, 56) 7px 7px 0px, rgb(28, 56, 57) 8px 8px 0px, rgb(29, 57, 58) 9px 9px 0px, rgb(29, 57, 58) 10px 10px 0px, rgb(29, 58, 59) 11px 11px 0px, rgb(30, 59, 59) 12px 12px 0px, rgb(30, 59, 60) 13px 13px 0px, rgb(30, 60, 61) 14px 14px 0px, rgb(31, 60, 61) 15px 15px 0px, rgb(31, 61, 62) 16px 16px 0px, rgb(31, 62, 63) 17px 17px 0px, rgb(32, 62, 63) 18px 18px 0px, rgb(32, 63, 64) 19px 19px 0px, rgb(32, 64, 64) 20px 20px 0px, rgb(33, 64, 65) 21px 21px 0px, rgb(33, 65, 66) 22px 22px 0px, rgb(33, 65, 66) 23px 23px 0px, rgb(34, 66, 67) 24px 24px 0px, rgb(34, 67, 68) 25px 25px 0px, rgb(34, 67, 68) 26px 26px 0px, rgb(34, 68, 69) 27px 27px 0px, rgb(35, 69, 70) 28px 28px 0px, rgb(35, 69, 70) 29px 29px 0px, rgb(35, 70, 71) 30px 30px 0px, rgb(36, 70, 71) 31px 31px 0px, rgb(36, 71, 72) 32px 32px 0px, rgb(36, 72, 73) 33px 33px 0px, rgb(37, 72, 73) 34px 34px 0px; font-size: 80px; color: rgb(255, 255, 255); height: 150px; width: 150px; line-height: 150px; border-radius: 0%; text-align: center; #background-color: rgb(37, 73, 74);
      font-family: 'Pacifico', cursive;
      color: #eef2f3!important;
    }
#welcome-text {
  font-family: 'Ubuntu', sans-serif;
}
