.fa-fonts {
  background: -webkit-linear-gradient(#fc4a1a, #f7b733) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.fa-clock {
  color: #21403F !important;
}

.md-form .prefix {
  -webkit-transition: color .2s;
  transition: color .2s;
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  padding-top: 1.5rem !important;
}