<footer id="footer" class="page-footer center-on-small-only ">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row wow fadeIn no-display appear" data-wow-delay="0.2s">
          <!--/.Second column-->
          <hr class="hidden-md-up">
          <!--Fourth column-->
          <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1s">
              <p class="column-title white-text text-center"><i class="fa fa-camera-retro"></i> View gallery</p>
              <div class="view overlay hm-white-slight z-depth-2">
                  <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout2.jpg?raw=true" class="img-fluid" id="footer-img">
                  <a href="/pages/gallery">
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
          </div>
          <!--/.Fourth column-->

          <hr class="hidden-md-up">
          <!--Third column-->
          <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.2s">
              <p class="column-title white-text text-center"><i class="fa fa-handshake-o"></i> Join Us</p>
              <div class="view overlay hm-white-slight z-depth-2">
                  <img src="https://github.com/cwilliams3579/Screenshots/blob/master/child.jpg?raw=true" class="img-fluid" id="footer-img">
                  <a href="/users/sign_up">
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
          </div>
          <!--/.Third column-->

            <hr class="hidden-md-up">
            <!--Second column-->
            <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.4s">
              <p class="column-title white-text text-center"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Us</p>

              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.7326541016705!2d-80.2805884845207!3d26.009573683524785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a61d3994a225%3A0xc1aa4c7001b836fb!2s10031+Pines+Blvd+%23217%2C+Pembroke+Pines%2C+FL+33024!5e0!3m2!1sen!2sus!4v1489792615260" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>

            <!--First column-->
            <div class="col-md-3 mb-1 text-center wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s">
              <p class="column-title white-text text-center"><i class="fa fa-phone"></i> Call Us</p>
              <p>Phone: 954-305-5001</p>
              <p>Fax: 954-391-9736</p>
              <p>Mon - Fri, 8:00am 5:00pm</p>
            </div>
            <!--/.First column-->

        </div>

    </div>
    <!--/.Footer Links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s">
      <ul>
        <li>
          <h5>Register for free</h5>
        </li>
        <li><a href="/users/sign_up" class="btn btn-lg green-gradient" >Sign up!</a></li>
        <li class="fb-like" data-href="https://generationsrs.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></li>
      </ul>
        <a href="/pages/privacy" class="waves-effect text-center">Terms Of Service</a>
    </div>
    <!--/.Call to action-->
    <hr>
    <!--Social buttons-->
    <div class="social-section no-display appear">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/GenerationsRehabServicesInternational/" class="btn btn-fb waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1s"><i class="fa fa-facebook left"></i> Facebook</a></li>

            <li><a target="_blank" href="#" class="btn btn-tw waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.2s"><i class="fa fa-twitter left"></i> Twitter</a></li>

            <li><a target="_blank" href="https://plus.google.com/u/0/collections/" class="btn btn-gplus waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s"><i class="fa fa-google-plus left"></i> Google +</a></li>

            <li><a target="_blank" href="https://www.linkedin.com/feed/" class="btn btn-li waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.4s"><i class="fa fa-linkedin left"></i> LinkedIn</a></li>

            <li><a target="_blank" href="#" class="btn btn-dribbble waves-effect waves-lightv wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.5s"><i class="fa fa-dribbble left"></i> Dribbble</a></li>

            <li><a target="_blank" href="#" class="btn btn-pin waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.6s"><i class="fa fa-pinterest left"></i> Pinterest</a></li>

            <li><a href="/pages/privacy" class="btn btn-comm waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.7s"><i class="fa fa-user-secret left"></i> Privacy</a></li>
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright wow fadeIn no-display appear" data-wow-delay="0.2s">
        <div class="container-fluid">
            ©
            2017 Copyright: <a href="https://generationsrs.com"> generationsrs.com </a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
