<footer id="footer" class="page-footer center-on-small-only ">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row wow fadeIn no-display appear" data-wow-delay="0.2s">
            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <p class="column-title white-text">Exercises</p>
                <ul>
                    <li><a href="#">Exercise 1</a></li>
                    <li><a href="#">Exercise 2</a></li>
                    <li><a href="#">Exercise 3</a></li>
                    <li><a href="#">Exercise 4</a></li>
                    <li><a href="#">Exercise 5</a></li>
                    <li><a href="#">Exercise 6</a></li>
                    <li><a href="#">Exercise 7</a></li>
                </ul>
            </div>
            <!--/.First column-->
            <hr class="hidden-md-up">
            <!--Second column-->
            <div class="col-md-2">
                <p class="column-title white-text">Blog</p>
                <ul>
                    <li><a href="#">Blog 1</a></li>
                    <li><a href="#">Blog 2</a></li>
                    <li><a href="#">Blog 3</a></li>
                    <li><a href="#">Blog 4</a></li>
                    <li><a href="#">Blog 5</a></li>
                    <li><a href="#">Blog 6</a></li>
                    <li><a href="#">Blog 7</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="hidden-md-up">
            <!--Third column-->
            <div class="col-md-3 mb-1">
                <p class="column-title white-text text-center">Join us</p>
                <div class="view overlay hm-white-slight z-depth-2 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1s">
                    <img src="https://github.com/cwilliams3579/Screenshots/blob/master/child.jpg?raw=true" class="img-fluid" id="footer-img">
                    <a href="/users/sign_up">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
            </div>
            <!--/.Third column-->
            <hr class="hidden-md-up">
            <!--Fourth column-->
            <div class="col-md-3 mb-1">
                <p class="column-title white-text text-center">Take a look at our gallery</p>
                <div class="view overlay hm-white-slight z-depth-2 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s">
                    <img src="https://github.com/cwilliams3579/Screenshots/blob/master/workout2.jpg?raw=true" class="img-fluid" id="footer-img">
                    <a href="/pages/gallery">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action">
      <ul>
        <li>
          <h5>Register for free</h5>
        </li>
        <li><a href="/users/sign_up" class="btn btn-lg green-gradient" >Sign up!</a></li>
        <li class="fb-like" data-href="https://generationsrs.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></li>
      </ul>
    </div>
    <!--/.Call to action-->
    <hr>
    <!--Social buttons-->
    <div class="social-section no-display appear">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/GenerationsRehabServicesInternational/" class="btn btn-fb waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1s"><i class="fa fa-facebook left"></i> Facebook</a></li>

            <li><a target="_blank" href="#" class="btn btn-tw waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.2s"><i class="fa fa-twitter left"></i> Twitter</a></li>

            <li><a target="_blank" href="https://plus.google.com/u/0/collections/" class="btn btn-gplus waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s"><i class="fa fa-google-plus left"></i> Google +</a></li>

            <li><a target="_blank" href="https://www.linkedin.com/feed/" class="btn btn-li waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.4s"><i class="fa fa-linkedin left"></i> LinkedIn</a></li>

            <li><a target="_blank" href="#" class="btn btn-dribbble waves-effect waves-lightv wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.5s"><i class="fa fa-dribbble left"></i> Dribbble</a></li>

            <li><a target="_blank" href="#" class="btn btn-pin waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.6s"><i class="fa fa-pinterest left"></i> Pinterest</a></li>

            <li><a target="_blank" href="#" class="btn btn-comm waves-effect waves-light wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.7s"><i class="fa fa-comments-o left"></i> Support</a></li>
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright wow fadeIn no-display appear" data-wow-delay="0.2s">
        <div class="container-fluid">
            ©
            2017 Copyright: <a href="https://generationsrs.com"> generationsrs.com </a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
